<div id="header" class="row">
    <div class="col-md-1 col-md-offset-2"><img id="face" src="{{ "/img/me.png" | prepend: site.baseurl }}" /></div>
    <div class="col-md-5">
        <h2>
            <a href="{{ site.baseurl }}/">{{ site.title }}</a>
            <a href="http://feeds.feedburner.com/AndreiKavaleuBlog" ><img src="{{ "/img/rss-icon.png" | prepend: site.baseurl }}" /></a>
        </h2>
        *)*)$#(&$##)$)(@*#)%&)@*$)(&%)(*)_#$
    </div>
    <div id="nav-menu" class="col-md-3 col-md-offset-1">
        <ul class="nav nav-pills">
            <li>
                <a href="{{ site.baseurl }}/">Home</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/">Blog</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/about/">About me</a>
            </li>
        </ul>
    </div>
</div>
