---
layout: default
---
    <h3>
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% if page.featured  %}<img class="blue-star" src="{{ site.baseurl }}/img/blue-star-icon.png" title="featured" />{% endif %}
    </h3>
    <div>
        {{ content }}
    </div>

	<p class="entry-meta">
		posted in 
		{% for tag in page.tags %}
			<a href="{{ tag.slug | prepend: "/tag/" | prepend: site.baseurl }}"><span class="badge">{{ tag.name }}</span></a> 
		{% endfor %}
	</p>